
  @import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Inter:wght@300;600&family=JetBrains+Mono:wght@100&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,800&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family : 'Poppins', sans-serif;
    font-weight: 400;
}
body
{
    background-color: #fdc78618;
}

textarea:focus, input:focus{
    outline: none;
}

.active{
    font-weight: bolder;
    color: #FDC886;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}